@import "fonts";
@import "global";

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header {
	padding: 1.25rem 0;
	border-bottom: 1px solid gray;
}

.todos {
	&__title {
		text-align: center;
		font-size: 2.5rem;
	}
	&__form {
		margin-bottom: 20px;
	}
	&__item + &__item {
		margin-top: 12px;
	}
}

.timer {
	background-color: rgb(white, 0.1);
	border-radius: 6px;
	padding: 1rem;
	margin-bottom: 1.87rem;

	&__tab {
		opacity: 0;
		pointer-events: none;
		height: 0;
		width: 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		&.active {
			opacity: 1;
			pointer-events: visible;
			height: auto;
			width: auto;
		}
	}

	&__options {
		margin-bottom: 1.25rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.8rem;
	}

	&__string {
		font-size: 7.5rem;
	}

	&__option {
		border: none;
		border-radius: 4px;
		font-size: 1rem;
		padding: 0.125rem 0.75rem;
		cursor: pointer;
		background: none rgba(0, 0, 0, 0.15);
		box-shadow: none;
		color: white;
		opacity: 1;
		font-weight: bold;
	}
	&__tab-bottom {
		display: flex;
		align-items: center;
	}
	&__start {
		font-size: 1.25rem;
		cursor: pointer;
		text-decoration: underline;
		margin-right: 1.87rem;
		&.disable {
			pointer-events: none;
			opacity: 0.7;
		}
	}
	&__skip {
		cursor: pointer;
		width: 40px;
		margin-right: -4.37remg;
		pointer-events: none;
		opacity: 0;
		transition: all 0.4s;
		img {
			display: block;
			width: 100%;
			height: 100%;
		}
		&.active {
			pointer-events: visible;
			opacity: 1;
		}
	}
	&__bottom {
		text-align: center;
	}
}

.footer {
	&__description {
		text-align: center;
		&-link {
			color: #00ffad;
		}
	}
}

@import "media";
